body {
    margin: 40px auto;
    max-width: 900px;
    line-height: 1.4;
    font-size: 17px;
    color: #363636;
    background-color: #fdfdfd;
    padding: 0 10px;
    font-family: sans-serif;
}

h1 {
    text-decoration: underline;
}

.box {
    text-align: center;
}

.bx {
    position: relative;
    display: inline-block;
    margin: 20px;
    vertical-align: middle;
    overflow: hidden;
    width: 400px;
    height: 500px;
    box-shadow: 0px 0px 8px #000000;
}

.ar {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 300px;
    margin: 20px;
    vertical-align: middle;
    box-shadow: 0px 0px 8px #000000;
}

code {
    background-color: #242424;
    border-radius: 5px;
    padding: 2px;
    color: #ebebeb;
}